<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Satisfy|Varela+Round&display=swap" rel="stylesheet">
  </head>
  
  <body class="background-blank">
    
    <div class="font-satisfy" id="register-title"> Meet-Pup </div>
      <div class="matchcards-container">
        <h2 class="font-valera"> My Messages </h2>
        <br> <br>
        <% @conversations.each do |conversation| %>
          <div class="font-valera" style="font-size: 18px; margin-bottom: 10px;">
            <%= link_to conversation.subject, conversation_path(conversation) %>
          </div>
        <% end %>
      </div>
  
    </br>
    
  </body>
</html>
