<h1>All Conversations</h1>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Satisfy|Varela+Round&display=swap" rel="stylesheet">
  </head>
  
  <body class="background-blank">
    
    <div class="font-satisfy" id="register-title"> Meet-Pup </div>
    <% @conversations.each do |conversation| %>
      <div>
        <%= link_to conversation.subject, conversation_path(conversation) %>
      </div>
    <% end %>
  
    </br>
    <%= link_to "New Conversation", new_conversation_path %>

  </body>
</html>
