<h1><%= @conversation.subject %></h1>

<% @conversation.receipts_for(current_user).each do |receipt| %>
  <div>
    <div><%= receipt.message.sender.name %> :</div>
    <p><%= receipt.message.body %></p>
  </div>
<% end %>