<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Meet-Pup | Home</title>
    <link href="https://fonts.googleapis.com/css?family=Satisfy|Varela+Round&display=swap" rel="stylesheet">
  </head>
  <body class="background-blank">
      
    <div class="font-satisfy" id="register-title"> Meet-Pup </div>
      
    <div class="matchcards-container">
      <% for i in 0..3 do %>
        <div class="matchcard">
          <p> Dog name </p>
        </div>
      <% end %>
      <% for i in 0..3 do %>
        <div class="matchcard">
          <p> Dog name </p>
        </div>
      <% end %>
    </div>
  </body>
  
  
  </body>
</html>