@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css');

body, html {
  height: 100%;
}

hr {
  border-top: 1px solid #ccc;
}

.col {
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
    padding: .5em;
    padding-right: 1.5em
}

.font-satisfy {
  font-family: 'Satisfy', cursive;
}

.font-valera {
  font-family: 'Varela Round', sans-serif;
}

.background {
  background-image: url("https://i.imgur.com/Axjaj2H.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-blank {
  background-image: url("https://i.imgur.com/D7tDHNi.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#login-title {
  position: absolute;
  width: 100%;
  font-size: 75px;
  text-align: center;
  top: 90px;
}

#login-subtitle {
  position: absolute;
  width: 100%;
  font-size: 25px;
  text-align: center;
  top: 210px;
}

.row {
  margin-right: 0;
  margin-left: 0;
  min-height: 650px;
}

.login-container {
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
}

.field-input {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #dddddd;
}

.field-button {
  width: 100%;
  height: 50px;
  border-style: none;
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #4bc2e3;
  color: white;
}

.field-button-fixed {
  width: 200px;
  height: 50px;
  border-style: none;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #4bc2e3;
  color: white;
}

.button_to {
  clear:both;
  float: left;
}

.tag-button {
  padding-left: 25px;
  padding-right: 25px;
  height: 40px;
  border: 3px solid #dddddd;
  border-radius: 10px;
  color: #999999;
  font-weight: 700;
  margin: 5px;
}

.hidden_checkbox {
  height: 0px;
  width: 0px;
  visibility: hidden;
}

.tag-button-no-float {
  float: none;
}

.img-upload-btn {
  width: 240px;
  height: 40px;
  border-style: none;
  border-radius: 15px;
  padding: 10px;
  background-color: #4bc2e3;
  color: white;
  margin: 20px auto;
  text-align: center;
}

.register-link {
  width: 100%;
  text-align: center;
}

#register-title {
  position: absolute;
  font-size: 50px;
  text-align: center;
  margin-top: 15px;
  right: 0px;
  left: 0px;
  top: 25px;
}

.register-container {
  width: 300px;
  margin: 0 auto;
}

.register-container-profile {
  margin: 0 auto;
  margin-top: 120px;
}

#register-subtitle {
  width: 100%;
  font-size: 20px;
  text-align: center;
}

.image-upload {
  width: 240px;
  margin: 0 auto;
}

.image-upload > input
{
  display: none;
}

.image-upload > label{
  cursor:pointer;
}

.upload-profile-pic {
  width: 240px;
  height: 240px;
  background-color: white;
  border-radius: 25px;
  margin: 0 auto;
}

.show-profile-pic {
  width: 300px;
  height: 330px;
  background-color: white;
  border-radius: 25px;
  margin: 0 auto;
}

/* footer */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.header_meetpup {
  color: red;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


.text-1 {
  text-align: center;
  font-size: 25px;
}

.text-2-right {
  text-align: right;
  font-size: 18px;
}

.text-2-left {
  text-align: left;
  font-size: 18px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.navbar-top {
  position: absolute;
  top: 25px;
  right: 5px;
}

.header-tab {
  margin-right: 15px;
  border-radius: 10px;
  font-size: 15px;
  color: black;
}

.nav .open > a {
  color: white;
  background: #3998b3;
}

.nav li a:visited {
  color: black;
  background: transparent;
}

.nav li a:hover{
  color: white;
  background: #4bc2e3;
}

.nav .open > a:focus {
  color: white;
  background: #3998b3;
}

.nav .open > a:visited {
  color: white;
  background: red;
}

.tag {
  display: inline-block;
  font-size: 15px;
  border: 2px solid #eeeeee;
  padding: 5px;
  border-radius: 10px;
  margin: 2px;
  color: #cccccc;
}

.tag-active {
  display: inline-block;
  font-size: 15px;
  border: 2px solid #fcc369;
  padding: 5px;
  border-radius: 10px;
  margin: 2px;
  color: #e6a53e;
}